.fc-toolbar-title {
    color: white;
}

.fc-header-toolbar {
    justify-content: flex-start !important;
    gap: 20px;
}

.fc-header-toolbar>div:first-child {
    width: 25%;
}

.fc-timezoneSelect-button {
    background: #D9DAF3 !important;
    border-radius: 7px !important;
    color: #2D224C !important;
    font-weight: 500 !important;
}

.fc-timezoneSelect-button>select {
    background: #D9DAF3 !important;
    border-radius: 7px !important;
    color: #2D224C !important;
    font-weight: 500 !important;
    border: none !important;
    outline: none !important;
    cursor: pointer;
    padding: 0;
}

.fc-timezoneSelect-button>select>option {
    padding: 0.4em 0.65em;
}

.fc-button-group>button {
    background: none !important;
    border: none !important;
    padding: 0.4em 0.65em;
}

.fc-today-button {
    text-transform: capitalize !important;
    background: #D9DAF3 !important;
    border-radius: 7px !important;
    color: #2D224C !important;
    font-weight: 500 !important;
}

.fc-scrollgrid {
    border: none !important;
}

.fc-scrollgrid-sync-table {
    background: #2D224C;
}

.fc-col-header-cell {
    border: none !important;
    color: white;
}

.fc-col-header-cell-cushion {
    color: white;
    text-decoration: none;
}

.fc .fc-scrollgrid-section>* {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
}

.fc-daygrid-day {
    border: none !important;
    border-radius: 8px;
}

.fc-daygrid-day-frame {
    background: white;
    border-radius: 5px;
    min-height: 96% !important;
    margin: 2px;
}

.fc-daygrid-day-top {
    align-items: center;
    justify-content: center;
}

.fc-daygrid-day-number {
    width: 100%;
    text-decoration: none !important;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.calendar-container {
    min-height: 100vh;
    background: #2D224C;
    padding: 50px 200px;
}

.eventItem {
    font-size: 0.8rem;
    word-wrap: break-all;
    word-break: break-all;
}

@media screen and (max-width: 1208px) {
    .eventItem {
        font-size: 0.8rem;
    }

    .fc-toolbar-title {
        font-size: 1.5rem !important;
    }
}

@media screen and (min-device-width: 1208px) and (max-width: 1440px) {
    .eventItem {
        font-size: 1rem;
    }
}

@media screen and (min-device-width: 1440px) and (max-width: 1940px) {
    .eventItem, .fc-daygrid-day-number, .fc-col-header-cell-cushion, .fc-today-button, .fc-timezoneSelect-button {
        font-size: 1.2rem !important;
    }

    .fc-toolbar-title {
        font-size: 2rem !important;
    }
}

@media screen and (min-device-width: 1940px) {
    .eventItem, .fc-daygrid-day-number, .fc-col-header-cell-cushion, .fc-today-button, .fc-timezoneSelect-button {
        font-size: 1.6rem !important;
    }

    .fc-toolbar-title {
        font-size: 2.5rem !important;
    }
}